body {
    background-color: rgb(241, 176, 196);
  }
  
    /* h1 {
        color:rgb(125, 12, 46);
        text-align: center;
        text-transform: uppercase;
        font-family: 'Times New Roman', Times, serif;

    } */
  
  p {
    text-align: center;
    font-family:cursive;
    font-size: 18px;
    color:rgb(125,12,46);
    padding: 8vh;
    text-align:justify;

  }

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;

}